@import url(http://fonts.googleapis.com/css?family=News+Cycle:700);


body {
    font-family: 'News Cycle', sans-serif;
    font-size:2em;
}
#todo-form {
    margin:5%;
    width:50%;
    border:2px solid black;
    padding: 2%;
    font-family: 'News Cycle', sans-serif;


}

.form-title {
    margin:5%;
    font-family: 'News Cycle', sans-serif;
}


#todo-form input[type="submit"]
{
    font-family: 'News Cycle', sans-serif;
    margin: 4%;
    font-size:1.5em;
}